{% load tailwind_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Disrat Studios{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,
    initial-scale=1, shrink-to-fit=no">

    <!-- Tailwind -->
    {% tailwind_css %}

</head>

<body class="bg-black-50 font-serif leading-normal tracking-normal">
    <div class="container mx-auto">
        <section class="flex items-center justify-center h-screen">
            <h1 class="text-5xl">Django + Tailwind = ❤️</h1>
        </section>
    </div>
</body>
</html>